{
	admin off
	email {$CADDY_ACME_EMAIL}
}

{$CADDY_APP_HOST} {
	encode zstd gzip

	log {
		output stdout
		format json
	}

	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	@api path /api/*
	handle @api {
		reverse_proxy api:8000
	}

	@health path /health/*
	handle @health {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy web:3000
	}
}
